@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__nuxt {
    height: 100%;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl md:text-4xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
}

@layer components {
  .input-field {
    @apply w-full mb-5 text-2xl px-4 py-2 rounded-2xl bg-white/60 border border-purple-main/80 focus:border-purple-main focus:bg-white hover:bg-white/70 transition outline-none focus:outline-none;
  }
  .button-default {
    @apply text-xl px-5 pt-1 pb-2 rounded-full bg-blue-light/50 border border-blue-light hover:bg-blue-light/60 cursor-pointer transition;
  }

  .icons-list {
    @apply h-full flex flex-col justify-between py-5;
  }
  .icons-list ul {
    @apply flex flex-col items-center gap-5;
  }

  .icons-list ul li svg path {
    @apply transition duration-200;
  }
  .icons-list ul li svg,
  .icons-list ul li svg path {
    @apply !fill-black;
  }

  .icons-list ul li:hover svg,
  .icons-list ul li:hover svg path {
    @apply !fill-purple-main;
  }

  .icons-list ul li.active svg,
  .icons-list ul li.active svg path {
    @apply !fill-purple-main;
  }

  .back-button:hover svg,
  .back-button:hover svg path {
    @apply !fill-purple-main;
  }
}
